.App {
    text-align: center;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    text-align: center;
}

.goods-list img {
    width: 20vw;
}

.goods-list__item {
    border: royalblue 0.3vw solid;
    margin: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.goods-list__item__wrapper {
    margin-bottom: 0;
    margin-top: auto;
}
