.App {
    text-align: center;
}

.main{
    margin: 3vw 5vw ;
}
.header ul{
    padding: 3vw 0 ;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.link{
    text-decoration: none;
    color: black;
    font-size: 2vw;
    font-weight: bold;
    transition: color 0.5s;
}
.link:hover{
    color: rgb(82, 170, 210);
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    text-align: center;
    justify-content: center;
}
.goods-list__title{
    text-align: center;

}

.goods-list img {
    width: 20vw;
}

.goods-list__item {
    border: rgba(164, 163, 163, 0.16) 0.3vw solid;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s;
}
.goods-list__item img{
    margin: auto;

}
.goods-list__item:hover {
   background-color: rgba(124, 250, 159, 0.13);
}

.goods-list__item__wrapper {
    margin-bottom: 0;
    margin-top: auto;
}
.quantity-display{
    margin: 2vw;
}
