@font-face {
    font-family: 'Circe Regular';
    src: url('style/fonts/Circe/Circe-Regular.eot');
    src: url('style/fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('style/fonts/Circe/Circe-Regular.woff') format('woff'),
    url('style/fonts/Circe/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #F8F8F8;
}

*, *::after, *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    font-family: 'Circe Regular';

}

body {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
